.error-container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

.error-container  h1 {
    font-size: 2.5rem;
    color: #dc3545;
    margin-bottom: 20px;
}

.error-container p {
    font-size: 1.125rem;
    margin-bottom: 20px;
    color: #666;
}

.error-container a {
    text-decoration: none;
    font-weight: bold;
    color: #007bff;
    transition: color 0.3s;
}

.error-container a:hover {
    color: #0056b3;
}

.error-container .button-container {
    margin-top: 20px;
}

.error-container .error-message {
    color: #e74c3c;
    font-size: 1rem;
}