{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/table.css">
{% endblock %}
{% block scripts %}
    <script src="/static/js/cart.js"></script>
{% endblock %}

{% block content %}
<div class="container cart-container">
    <h2 class="page-title">Your Shopping Cart</h2>

    {% if user.is_authenticated %}
        {% if cart_items %}
            <table class="table table-striped generic-table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td>
                            <img class="generic-image" src="{{ item.image_url }}" alt="{{ item.title }}">
                        </td>
                        <td>
                            <a href="{{ url_for('product.view_product', product_id=item.product_id) }}" class="generic-item-link">
                                {{ item.title }}
                            </a>
                        </td>
                        <td class="generic-price">€{{ item.price }}</td>
                        <td>
                            <form action="{{ url_for('cart.remove_from_cart', product_id=item.product_id) }}" method="POST">
                                <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i> Remove</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="total-price-container">
                <span class="total-price">0</span>
            </div>

            <div class="cart-actions text-center mt-4">
                <a href="{{ url_for('product.search_results') }}" class="btn btn-outline-primary cart-btn">Continue Shopping</a>
                <a href="#" class="btn btn-success cart-btn">Proceed to Checkout</a>
            </div>

        {% else %}
            <p class="no-products-message">Your cart is empty. <a href="{{ url_for('product.search_results') }}" class="start-shopping-link">Start shopping</a>!</p>
        {% endif %}
    {% else %}
        <p class="no-products-message">You need to <a href="{{ url_for('auth.login', next='/cart') }}" class="login-link">log in</a> first to view your cart.</p>
    {% endif %}
</div>
{% endblock %}
