{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/table.css">
{% endblock %}

{% block content %}
<div class="container product-container">
    <h2 class="page-title">Your Products</h2>

    {% if user.is_authenticated %}
        {% if products %}
            <table class="table table-striped generic-table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>
                            <img class="generic-image" src="{{ product.image_url }}" alt="{{ product.title }}">
                        </td>
                        <td>
                            <a href="{{ url_for('product.view_product', product_id=product.id) }}" class="generic-item-link">
                                {{ product.title }}
                            </a>
                        </td>
                        <td class="generic-price">€{{ product.price }}</td>
                        <td>
                            <a href="{{ url_for('product.update_product', product_id=product.id) }}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{{ url_for('product.delete_product', product_id=product.id, next=request.url) }}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="no-products-message">You haven't added any products yet.</p>
        {% endif %}

        <!-- Button to Add New Product -->
        <div class="text-center mt-4">
            <a href="{{ url_for('product.add_product') }}" class="btn btn-primary">Add New Product</a>
        </div>

    {% else %}
        <p class="empty-products-message">You need to <a href="{{ url_for('auth.login') }}" class="login-link">log in</a> first to view your products.</p>
    {% endif %}
</div>
{% endblock %}
